@font-face {
  font-family: "myFirstFont";
  src: url("../src/assets/fonts/static/Karla-ExtraBoldItalic.ttf")format("truetype");
}
body {
  margin: 0;
  font-family: myFirstFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
